<div class="container container-custom" ng-controller="mainController">

	<div st-table="datasource" st-pipe="callServer">

		<form class="form-inline form-actions">
			<div class="form-group" style="display: inline-block">
				<input class="form-control" placeholder="search for id" type="search" st-search="id"/>
			</div>
			<button class="btn btn-link" ng-click="reload()">
				<span class="glyphicon glyphicon-refresh"></span>
			</button>
			<div>
				<input type="checkbox" ng-model="showId">
				- show/hide id column
			</div>
		</form>

		<div class="table-grid-wrap">

			<div class="table-grid-viewport-wrap">

				<div class="table-grid-viewport" ui-scroll-viewport>

					<table class="table-grid viewport">
						<thead>
						<tr>
							<th class="sort" st-sort="id" ng-if="showId">
								<div class="th-inn">
									<div class="th-fixed">
										<div class="th-inn-inn"><div><div>id</div></div></div>
									</div>
								</div>
								<div class="hide-text"><div>id</div></div>
								<div class="sort-wrap"><div class="sort"></div></div>
							</th>

							<th class="sort" st-sort="content">
								<div class="th-inn">
									<div class="th-fixed">
										<div class="th-inn-inn"><div><div>content</div></div></div>
									</div>
								</div>
								<div class="hide-text"><div>content</div></div>
								<div class="sort-wrap"><div class="sort"></div></div>
							</th>

							<th class="sort" st-sort="selected">
								<div class="th-inn">
									<div class="th-fixed">
										<div class="th-inn-inn"><div><div>active</div></div></div>
									</div>
								</div>
								<div class="hide-text"><div>active</div></div>
								<div class="sort-wrap"><div class="sort"></div></div>
							</th>

							<th>
								<div class="th-inn">
									<div class="th-fixed">
										<div class="th-inn-inn"><div><div>delete</div></div></div>
									</div>
								</div>
								<div class="hide-text"><div>delete</div></div>
								<div class="sort-wrap"><div class="sort"></div></div>
							</th>

						</tr>
						</thead>

						<tbody service-row="columnWidthChangeEventObject">
						<tr ui-scroll="row in datasource" adapter="datasourceAdapter">
							<td ng-if="showId">
								<div>
									{{row.id}}
								</div>
							</td>
							<td>
								<div>
									{{row.content}}
								</div>
							</td>
							<td>
								<div>
									<input type="checkbox" ng-model="row.selected">
								</div>
							</td>
							<td>
								<div>
							<span ng-click="removeRow(row)" class="remove">
								[delete]
							</span>
								</div>
							</td>

						</tr>
						</tbody>

					</table>

				</div>

			</div>

		</div>

	</div>

</div>

